html
*{
    margin: 0;
    padding: 0;
}

#home .filter{
width: 100%;
background: url(/assets/img/Arrière-plan-stade\ .png) ;
background-attachment: fixed;
background-size: cover;
height: 100vh;
}
#home .element{
 text-align: center;
 position: relative;
 top: 270px;
}
#home h1{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    }
  
#home button{
    color: white;
    border-color: transparent;
    padding: 13px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 10px;
    animation: glowing 1300ms infinite;
}
@keyframes glowing {
    0% {
      background-color: #0805a8;
      box-shadow: 0 0 5px #0805a8;
      
    }
    50% {
      background-color: #4c69ea;
      box-shadow: 0 0 20px #1962e8;
    }
    100% {
      background-color: #0805a8;
      box-shadow: 0 0 5px #0805a8;
    }
  }
#home button:hover{
    background-color: rgb(0, 25, 186);
    border-color: rgb(0, 25, 186) ;
}
.wrapper{
  display: none;
}


@media (min-width: 970px) {
    #home .element{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 3;
    }   
    .wrapper{
  display: table;
    }
    #home h1{
        font-weight: bolder;
        font-size: 55px;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        background: linear-gradient( white, #fff, #fff);
        background-repeat: no-repeat;
        background-size: 87%;
        animation: animate 6s  forwards;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      @keyframes animate {
        0% {
        background-position: -500%;
        }
        100% {
        background-position: 0%; 
        }
      } 
      .wrapper{
        width: 200px;
        height: 100px;
        position: relative;
      }
      .footbal-1 {
        position: absolute;
        left : 50%;
        top : 0;
        transform: translate(-50%,-50%);
        animation: bounce 5s infinite linear alternate-reverse;
        z-index: 1;
      }
      @keyframes bounce {
        0%{
          top : 0;
          left : 100px;
        }
        20%{
          left: 250px;
          top: 400px;
        }
        40%{
          top: 0px;
          left: 500px;
      
        }
        60%{
          top: 400px;
          left: 750px;
      
        }
        80%{
          left: 1000px;
          top : 0;
      
        }
        100%{
          left: 1200px;
          top : 400px;
      
        }
      }  
}