@media screen and (min-width:360px) and (max-width:640px) {
    .full-game{

    }

    body{
        margin:0;
        background: url(../img/terrain-de-foot-1-portrait.png);
        background-size:100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #player-score, #computer-score{
        padding-top:26px;
        margin-top: 0px;
    }

    .three-buttons-ia{
        display:none;
    }

    header{
        display:none;
    }

    .score-bar{
        justify-content: center;
    }

    #player-score, #computer-score{
        font-size: 25px;
    }

    .img-score-bar{
        width:90vw;
    }

    .ball{
        display:none;
    }

    .computer{
        display: none;
    }

    .player{
        width:20vw;
        height: 20vw;
    }

    .three-buttons{
        width:30vw;
        height: 20vh;
    }

    .six-buttons{
        margin-top: 20px;
    }

    .three-buttons button{
        width: 100%;
        height: 100%;
    }

    .footer-bar{
        font-size: 11px;
        width:100%;
    }

    .footer-bar button{
        height: 75%;
    }

    .footer-bar button p{
        font-size: 11px;
    }

    .test{
        padding-top : 100px;
        display: flex;
        justify-content: center;
        padding-bottom: 13vh;
        text-align: center;
        margin:0;
    }

    .test img{
        width: 20vw;
        height: 20vw;
    }

    #test{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #save-button{
        height: 30px;
    }

    #endGame{
        align-items: center;
    }

    .player{
        display:flex;
        justify-content: center;
    }

    /* .computer{
        
    } */

    .player p {
        display:flex;
        align-items:center;
    }
    .omwin-img{
        padding-bottom:5px;
        margin-top: -50px;
    }    
    .messi-img{
        margin-top: -80px;
    }
}