body{
    background-image:url("../img/Stade169.jpg");
    background-size:100%;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    font-family: 'Sportsball', sans-serif;
    color:white;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    /* background: url("../img/il_1588xN.3726379315_kvwo.png"); */
}

button{
    /* border-radius: 100%; */
}

/* Button fullscreen*/

.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 20px;
	right: 20px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: hsl(0, 0%, 92%);
	stroke-width: 4;
	transition: .15s;
}


.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}